@import "variables";

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--primary-color);
  font-size: 15px;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}


