body {
  font-size: 16px;
}

.service {
  width: 70vw;
  margin: 0 auto;
  margin-top: 5.6rem;
  margin-bottom: 5rem;
}
.service-heading {
  color: #000;
  margin-top: 5vw;
  margin-bottom: 3vw;
  text-align: center;
}
.service-heading-title {
  font-size: 1.3vw;
  font-weight: 300;
  margin-bottom: 0.8vw;
}

.service-heading-subtitle {
  font-size: 1.6vw;
}
.service-heading-text {
  font-size: 0.8vw;
  /* margin-top: 3rem;*/
  margin-bottom: 5.5vw; /*конфликт!*/
}
.service-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  min-height: 431px;
}
.service-block-wrap {
  position: relative;
  min-height: 25rem;
}

.service-block-img {
  background-size: cover !important;
  border: 1px solid #ddd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease-out;
}
.service-block-img.visible {
  opacity: 1;
}
.service-block-img1 {
  background: url('../img/service1.jpg') center no-repeat;
}
.service-block-img2 {
  background: url('../img/service2.jpg') center no-repeat;
}
.service-block-img3 {
  background: url('../img/service3.jpg') center no-repeat;
}
.service-block-ac {
  display: grid;
  grid-gap: 1rem;
}
.service-block-ac-item {
  border: 1px solid #ddd;
}
.service-block-ac-item-header {
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;

  align-items: center;
}
.fa-picture-o,
.fa-sliders,
.fa-bullseye {
  font-size: 24px;
  color: #73caba;
}
.service-block-ac-item-header-title {
  margin-left: 1rem;
}
.fa-chevron-down {
  cursor: pointer;
  transition: 0.5s ease-out;
  color: #ddd;
}
.fa-chevron-down:hover {
  color: #73caba;
}
.fa-chevron-down.up {
  color: #73caba;
  transform: rotate(180deg);
}
.service-block-ac-item-body {
  overflow: hidden;
  height: 223px;
  transition: height 0.5s ease-out;
  border-top: 1px solid #ddd;
}
.service-block-ac-item-body.collaps {
  height: 0px;
  border-top: 1px solid #fff;
}
.service-block-ac-item-body.collaps > .servece-block-ac-item-body-text {
  opacity: 0;
}
.servece-block-ac-item-body-text {
  margin: 1rem;
  overflow: auto;
  height: calc(223px - 2rem);
  padding-right: 1rem;
  opacity: 1;
  transition: 0.5s ease-out;
}
/**********************************************************/
.servece-block-ac-item-body-text::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
.servece-block-ac-item-body-text::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #73caba;
  border-radius: 3px;
}
/**********************************************************/
footer {
  min-height: 10rem;
}
